<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Take Quiz</title>
  <link rel="stylesheet" href="/css/quizques.css">
</head>
<body>
  <div class="quiz-container">
    <h1>Quiz</h1>
    <div id="questionBox"></div>
    <div class="nav-buttons">
      <button onclick="prevQuestion()">Previous</button>
      <button onclick="nextQuestion()">Next</button>
    </div>
  </div>
  <script src="/js/quizQues.js"></script>
</body>
</html>
